---
http_interactions:
- request:
    method: get
    uri: http://<ES_HOST>/frontend/repository/_search
    body:
      encoding: UTF-8
      string: '{"from":2,"size":2,"sort":[{"_score":{"order":"desc"}}],"query":{"bool":{"must":[{"terms":{"dataUploads.type":["open","restricted"]}}]}},"explain":true}'
    headers:
      Authorization:
      - Basic YWd1OlJhbmRvbU51bWJlcklzNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":1,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":1336,"max_score":5.6422687,"hits":[{"_shard":2,"_node":"k3bsmF8ETPK4XVBUaRDQPA","_index":"frontend","_type":"repository","_id":"1106","_score":5.5895543,"_source":{"repositoryName":"CLARIN
        INT Portal","repositoryNameLanguage":"eng","repositoryUrl":"https://portal.clarin.inl.nl/","description":"The
        focus of CLARIN INT Portal is on resources that are relevant to the lexicological
        study of the Dutch language and on resources relevant for research in and
        development of language and speech technology. For Example: lexicons, lexical
        databases, text corpora, speech corpora, language and speech technology tools,
        etc. The resources are: Cornetto-LMF (Lexicon Markup Framework), Corpus of
        Contemporary Dutch (Corpus Hedendaags Nederlands), Corpus Gysseling, Corpus
        VU-DNC (VU University Diachronic News text Corpus), Dictionary of the Frisian
        Language (Woordenboek der Friese Taal), DuELME-LMF (Lexicon Markup Framework),
        Language Portal (Taalportaal), Namescape, NERD (Named Entity Recognition and
        Disambiguation) and TICCLops (Text-Induced Corpus Clean-up online processing
        system).","descriptionLanguage":"eng","size":null,"sizeUpdated":null,"startDate":null,"endDate":null,"missionStatementUrl":"https://portal.clarin.inl.nl/doc/information_about_deposition.pdf","versioning":"yes","citationGuidelineUrl":null,"enhancedPublication":"yes","qualityManagement":"yes","remarks":"INL
        is part of the CLARIN-NL consortium and of CLARIN-ERIC.","created":"2014-12-17T09:39:18+01:00","updated":"2017-11-03T17:45:40+01:00","repositoryLanguages":[{"text":"eng"},{"text":"nld"}],"types":[{"text":"disciplinary"}],"additionalNames":[{"language":"eng","text":"CLARIN
        INT Center"},{"language":"nld","text":"CLARIN IvdNT-portaal"}],"repositoryIdentifiers":[],"repositoryContacts":[{"text":"servicedesk@inl.nl"},{"text":"jantheo.bakker@inl.nl"}],"subjects":[{"scheme":"DFG","text":"104
        Linguistics"},{"scheme":"DFG","text":"11 Humanities"},{"scheme":"DFG","text":"1
        Humanities and Social Sciences"}],"contentTypes":[{"scheme":"parse","text":"Standard
        office documents"},{"scheme":"parse","text":"Plain text"}],"providerTypes":[{"text":"serviceProvider"}],"keywords":[{"text":"corpora"},{"text":"Dutch
        language"},{"text":"lexicon"},{"text":"early middle Dutch"},{"text":"dictionary"},{"text":"Frisian
        language"}],"institutions":[{"country":"NLD","responsibilityStartDate":null,"identifiers":[],"name":"CLARIN-NL","responsibilityTypes":[{"text":"general"}],"type":"non-profit","nameLanguage":"eng","responsibilityEndDate":null,"url":"http://www.clarin.nl/","additionalNames":[{"language":"eng","text":"Common
        Language Resources and Technology Infrastructure"}],"contacts":[]},{"country":"NLD","responsibilityStartDate":null,"identifiers":[],"name":"Instituut
        voor de Nederlandse Taal","responsibilityTypes":[{"text":"general"}],"type":"non-profit","nameLanguage":"nld","responsibilityEndDate":null,"url":"http://www.inl.nl/taalmaterialen","additionalNames":[{"language":"eng","text":"IVDNT"},{"language":"nld","text":"INT"},{"language":"eng","text":"formerly:
        Institute for Dutch Lexicology"},{"language":"nld","text":"formerly: Instituut
        voor Nederlandse Lexicologie"},{"language":"eng","text":"Dutch Language Institute"},{"language":"eng","text":"formerly:
        INL"}],"contacts":[]},{"country":"EEC","responsibilityStartDate":null,"identifiers":[],"name":"CLARIN-ERIC","responsibilityTypes":[{"text":"general"}],"type":"non-profit","nameLanguage":"eng","responsibilityEndDate":null,"url":"https://www.clarin.eu/","additionalNames":[{"language":"eng","text":"CLARIN
        European Research Infrastructure Consortium"},{"language":"eng","text":"Common
        Language Resources and Technology Infrastructure"}],"contacts":[]}],"policies":[{"name":"End
        User License Agreement","url":"https://portal.clarin.inl.nl/doc/end_user_license_agreement.pdf"},{"name":"Information
        about deposition","url":"https://portal.clarin.inl.nl/doc/information_about_deposition.pdf"},{"name":"DSA
        Assessment for CLARIN INT","url":"https://assessment.datasealofapproval.org/assessment_106/seal/html/"},{"name":"CLARIN
        Centre B assessment procedure","url":"https://www.clarin.eu/node/3767"},{"name":"CLARIN
        Standards for LRT","url":"https://www.clarin.eu/sites/default/files/Standards%20for%20LRT-v6.pdf"}],"databaseLicenses":[],"dataAccesses":[{"restrictions":[],"type":"open"},{"restrictions":[{"text":"registration"}],"type":"restricted"}],"dataLicenses":[{"name":"other","url":"http://www.gnu.org/copyleft/gpl.html"},{"name":"CC","url":"https://creativecommons.org/licenses/"}],"dataUploads":[{"restrictions":[{"text":"registration"}],"type":"restricted"},{"restrictions":[],"type":"open"}],"dataUploadLicenses":[],"software":[{"name":"DSpace"}],"apis":[{"type":"other","url":"https://portal.clarin.inl.nl/doc/information_about_deposition.pdf"},{"type":"OAI-PMH","url":"https://vlo.clarin.eu/data/Instituut_voor_Nederlandse_Lexicologie_INL_Metadata_Repository.html"}],"pidSystems":[{"text":"hdl"}],"aidSystems":[],"certificates":[{"text":"DSA"},{"text":"CLARIN
        certificate B"}],"metadataStandards":[],"syndications":[],"databaseAccess":{"type":"open","restrictions":[]},"identifier":{"re3data":100011332,"doi":"10.17616/R3DP72"}},"_explanation":{"value":5.5895543,"description":"sum
        of:","details":[{"value":4.043763,"description":"weight(dataUploads.type:open
        in 15038) [PerFieldSimilarity], result of:","details":[{"value":4.043763,"description":"score(doc=15038,freq=1.0),
        product of:","details":[{"value":0.85055864,"description":"queryWeight, product
        of:","details":[{"value":7.60679,"description":"idf(docFreq=28, maxDocs=21463)"},{"value":0.11181571,"description":"queryNorm"}]},{"value":4.754244,"description":"fieldWeight
        in 15038, product of:","details":[{[...]
