---
http_interactions:
- request:
    method: get
    uri: http://<ELASTIC_USER>:<ELASTIC_PASSWORD>@<ES_HOST>/frontend/repository/_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWd1OlJhbmRvbU51bWJlcklzNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":5,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":2053,"max_score":1.0,"hits":[{"_index":"frontend","_type":"repository","_id":"597","_score":1.0,"_source":{"repositoryName":"Global
        Catalogue of Microorganisms","repositoryNameLanguage":"eng","repositoryUrl":"http://gcm.wfcc.info/","description":"WFCC
        Global Catalogue of Microorganisms (GCM) is expected to be a robust, reliable
        and user-friendly system to help culture collections to manage, disseminate
        and share the information related to their holdings. It also provides a uniform
        interface for the scientific and industrial communities to access the comprehensive
        microbial resource information.","descriptionLanguage":"eng","size":"283.992
        Strains; 40.701 Species;","sizeUpdated":"2014-06-26","startDate":"2011-05-01","endDate":null,"missionStatementUrl":"http://gcm.wfcc.info/overview/","versioning":"yes","citationGuidelineUrl":null,"enhancedPublication":"unknown","qualityManagement":"yes","remarks":"Global
        Catalogue of Microorganisms is covered by Thomson Reuters Data Citation Index.","created":"2013-08-05T09:39:16+02:00","updated":"2015-11-10T09:54:17+01:00","repositoryLanguages":[{"text":"eng"}],"types":[{"text":"disciplinary"}],"additionalNames":[{"text":"GCM","language":"eng"}],"repositoryIdentifiers":[],"repositoryContacts":[],"subjects":[{"text":"2
        Life Sciences","scheme":"DFG"},{"text":"204 Microbiology, Virology and Immunology","scheme":"DFG"},{"text":"22
        Medicine","scheme":"DFG"},{"text":"21 Biology","scheme":"DFG"}],"contentTypes":[{"text":"Standard
        office documents","scheme":"parse"},{"text":"Structured text","scheme":"parse"}],"providerTypes":[{"text":"dataProvider"},{"text":"serviceProvider"}],"keywords":[{"text":"biosynthesis"},{"text":"plasmid"},{"text":"bacteria"},{"text":"fungi"},{"text":"archaea"},{"text":"cyanobacteria"},{"text":"algae"},{"text":"viruses"},{"text":"protozoa"},{"text":"phage"},{"text":"antibody"}],"institutions":[{"name":"Chinese
        Academy of Sciences, Institute of Microbiology, Information Network Center","nameLanguage":"eng","country":"CHN","type":"non-profit","url":"http://www.wfcc.info/","responsibilityStartDate":null,"responsibilityEndDate":null,"additionalNames":[{"text":"IMCAS","language":"eng"}],"responsibilityTypes":[{"text":"general"},{"text":"technical"}],"identifiers":[],"contacts":[{"text":"ma@im.ac.cn"},{"text":"wulh@im.ac.cn"}]},{"name":"World
        Federation for Culture Collections","nameLanguage":"eng","country":"BEL","type":"commercial","url":"http://www.wfcc.info/","responsibilityStartDate":null,"responsibilityEndDate":null,"additionalNames":[{"text":"WFCC","language":"eng"}],"responsibilityTypes":[{"text":"general"}],"identifiers":[],"contacts":[{"text":"http://www.wfcc.info/contact/"},{"text":"philippe.desmeth@belspo.be"}]}],"policies":[{"name":"WFCC
        guidelines","url":"http://www.wfcc.info/guidelines/"}],"databaseLicenses":[{"name":"Copyrights","url":"http://gcm.wfcc.info/login/copyright.jsp?reg_username="}],"dataAccesses":[{"type":"restricted","restrictions":[{"text":"registration"}]},{"type":"restricted","restrictions":[{"text":"feeRequired"}]}],"dataLicenses":[{"name":"Copyrights","url":"http://gcm.wfcc.info/login/copyright.jsp?reg_username="},{"name":"other","url":"http://www.cbd.int/"}],"dataUploads":[{"type":"restricted","restrictions":[{"text":"registration"}]}],"dataUploadLicenses":[],"software":[],"apis":[],"pidSystems":[{"text":"none"}],"aidSystems":[],"certificates":[],"metadataStandards":[],"syndications":[],"databaseAccess":{"type":"open","restrictions":[]},"identifier":{"re3data":100010696,"doi":"10.17616/R3J315"}}},{"_index":"frontend","_type":"repository","_id":"927","_score":1.0,"_source":{"repositoryName":"CancerData.org","repositoryNameLanguage":"eng","repositoryUrl":"https://www.cancerdata.org/","description":"The
        CancerData site is an effort of the Medical Informatics and Knowledge Engineering
        team (MIKE for short) of Maastro Clinic, Maastricht, The Netherlands. Our
        activities in the field of medical image analysis and data modelling are visible
        in[...]
