---
http_interactions:
- request:
    method: get
    uri: http://<ELASTIC_USER>:<ELASTIC_PASSWORD>@<ES_HOST>/frontend/repository/_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWd1OlJhbmRvbU51bWJlcklzNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":1,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":1,"max_score":1.0,"hits":[{"_index":"frontend","_type":"repository","_id":"585","_score":1.0,"_source":{"repositoryName":"UniProtKB/Swiss-Prot","repositoryNameLanguage":"eng","repositoryUrl":"http://web.expasy.org/docs/swiss-prot_guideline.html","description":"UniProtKB/Swiss-Prot
        is the manually annotated and reviewed section of the UniProt Knowledgebase
        (UniProtKB).\nIt is a high quality annotated and non-redundant protein sequence
        database, which brings together experimental results, computed features and
        scientific conclusions.\nSince 2002, it is maintained by the UniProt consortium
        and is accessible via the UniProt website.","descriptionLanguage":"eng","size":"542782
        sequence entries, 193019802 amnino acids, 226896 references","sizeUpdated":"2014-04-01","startDate":"1996","endDate":null,"missionStatementUrl":null,"versioning":"yes","citationGuidelineUrl":"http://www.uniprot.org/help/publications","enhancedPublication":null,"qualityManagement":null,"remarks":"Swiss-Prot
        is active partner of the International Molcular Exchange Consortium (IMEx).
        Swiss-Prot is part of the Uniprot knowledgebase ","created":"2014-03-31T09:39:16+02:00","updated":"2014-04-07T09:39:16+02:00","repositoryLanguages":[{"text":"eng"}],"types":[{"text":"disciplinary"}],"additionalNames":[{"text":"UniProt
        Knowledgebase","language":"eng"}],"repositoryIdentifiers":[],"repositoryContacts":[],"subjects":[{"text":"201
        Basic Biological and Medical Research","scheme":"DFG"},{"text":"20105 General
        Genetics","scheme":"DFG"},{"text":"21 Biology","scheme":"DFG"},{"text":"2
        Life Sciences","scheme":"DFG"}],"contentTypes":[{"text":"Networkbased data","scheme":"parse"},{"text":"Structured
        graphics","scheme":"parse"},{"text":"Plain text","scheme":"parse"},{"text":"other","scheme":"parse"}],"providerTypes":[{"text":"dataProvider"},{"text":"serviceProvider"}],"keywords":[{"text":"protein"},{"text":"sequence"},{"text":"proteome"},{"text":"taxonomy"},{"text":"diseases"},{"text":"human"},{"text":"mammalia"},{"text":"vertebrata"},{"text":"viridiplantae"},{"text":"insecta"},{"text":"nematode"},{"text":"fungi"}],"institutions":[{"name":"Swiss
        Institute of Bioinformatics","nameLanguage":"eng","country":"CHE","type":"non-profit","url":"http://www.isb-sib.ch/","responsibilityStartDate":"1996","responsibilityEndDate":null,"additionalNames":[{"text":"SIB","language":"eng"}],"responsibilityTypes":[{"text":"general"},{"text":"technical"}],"identifiers":[],"contacts":[]},{"name":"Uniprot
        consortium","nameLanguage":"eng","country":"GBR","type":"non-profit","url":"http://www.uniprot.org/","responsibilityStartDate":"2002","responsibilityEndDate":null,"additionalNames":[],"responsibilityTypes":[{"text":"general"}],"identifiers":[],"contacts":[{"text":"http://www.uniprot.org/contact"},{"text":"help@uniprot.org"}]},{"name":"International
        Molecular Exchange Consortium","nameLanguage":"eng","country":"GBR","type":"non-profit","url":"http://www.imexconsortium.org/","responsibilityStartDate":null,"responsibilityEndDate":null,"additionalNames":[{"text":"IMEx","language":"eng"}],"responsibilityTypes":[{"text":"general"}],"identifiers":[],"contacts":[]}],"policies":[{"name":"IMEx
        Curation Rules","url":"http://www.imexconsortium.org/curation"}],"databaseLicenses":[],"dataAccesses":[{"type":"open","restrictions":[]}],"dataLicenses":[{"name":"CC","url":"http://creativecommons.org/licenses/by-nd/3.0/"},{"name":"CC","url":"http://creativecommons.org/licenses/by/2.5/"}],"dataUploads":[{"type":"restricted","restrictions":[{"text":"registration"}]}],"dataUploadLicenses":[{"name":"IMEx
        data submission","url":"http://www.imexconsortium.org/submit-your-data"}],"software":[],"apis":[{"url":"ftp://ftp.expasy.org./databases/swiss-prot/","type":"FTP"}],"pidSystems":[{"text":"none"}],"aidSystems":[],"certificates":[],"metadataStandards":[],"syndications":[],"databaseAccess":{"type":"open","restrictions":[]},"identifier":{"re3data":100010677,"doi":"10.17616/R33314"}}}]}}'
  recorded_at: Fri, 11 May 2018 06:22:46 GMT
recorded_with: VCR 3.0.3
