---
http_interactions:
- request:
    method: get
    uri: http://<ES_HOST>/frontend/repository/_search
    body:
      encoding: UTF-8
      string: '{"size":2,"from":0,"sort":{"repositoryName.sortable":{"order":"asc"}},"query":{"bool":{"must":[{"terms":{"dataUploads.type":["open","restricted"]}}]}},"explain":true}'
    headers:
      Authorization:
      - Basic YWd1OlJhbmRvbU51bWJlcklzNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":1,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":1464,"max_score":null,"hits":[{"_shard":0,"_node":"GMQL5XKYTNW4bRM7yRjqfQ","_index":"frontend","_type":"repository","_id":"376","_score":null,"_source":{"repositoryName":"''Health
        Monitoring'' Research Data Centre at the Robert Koch Institute","repositoryNameLanguage":"eng","repositoryUrl":"https://www.rki.de/EN/Content/Health_Monitoring/health_monitoring_node.html","description":"Federal
        Health Reporting (Gesundheitsberichterstattung des Bundes, GBE) continuously
        supplies current data and information on the German population''s state of
        health and the country''s healthcare services. It covers a broad spectrum
        of topics, ranging from diseases, symptoms and risk factors to subjective
        well-being and health-related quality of life, utilization of preventive and
        healthcare services as well as the structures and costs of healthcare system.","descriptionLanguage":"eng","size":null,"sizeUpdated":null,"startDate":"2010-07-24","endDate":null,"missionStatementUrl":"https://www.rki.de/EN/Content/Health_Monitoring/Health_Reporting/fed_health_reporting_node.html","versioning":"no","citationGuidelineUrl":"https://www.rki.de/DE/Content/Gesundheitsmonitoring/Forschungsdatenzentrum/informationen_antrag/verfahrensregeln_11_2014.html?__blob=publicationFileg%2F","enhancedPublication":"unknown","qualityManagement":"yes","remarks":"FDZ
        Gesundheitsmonitoring is a member of the RatSWD research data infrastructure.","created":"2013-08-07T09:39:16+02:00","updated":"2018-05-04T14:21:37+02:00","repositoryLanguages":[{"text":"eng"},{"text":"deu"}],"types":[{"text":"disciplinary"},{"text":"other"}],"additionalNames":[{"language":"eng","text":"Forschungsdatenzentrum
        Gesundheitsmonitoring am Robert Koch Institut"}],"repositoryIdentifiers":[],"repositoryContacts":[{"text":"fdz@rki.de"}],"subjects":[{"scheme":"DFG","text":"22
        Medicine"},{"scheme":"DFG","text":"2 Life Sciences"},{"scheme":"DFG","text":"205
        Medicine"},{"scheme":"DFG","text":"20502 Public Health, Health Services Research,
        Social Medicine"}],"contentTypes":[{"scheme":"parse","text":"Scientific and
        statistical data formats"}],"providerTypes":[{"text":"dataProvider"}],"keywords":[{"text":"hormon
        therapy"},{"text":"overweight"},{"text":"obesity"},{"text":"diabetes mellitus"},{"text":"allergies"},{"text":"lung
        disease"},{"text":"nutrition"},{"text":"hypertonia"},{"text":"health surveys"},{"text":"cancer
        registry data"}],"institutions":[{"country":"DEU","responsibilityStartDate":null,"identifiers":[],"name":"Robert
        Koch Institute","responsibilityTypes":[{"text":"general"}],"type":"non-profit","nameLanguage":"eng","responsibilityEndDate":null,"url":"https://www.rki.de/EN/Home/homepage_node.html","additionalNames":[{"language":"deu","text":"Robert
        Koch Institut"},{"language":"deu","text":"RKI"}],"contacts":[{"text":"https://www.rki.de/EN/Service/Contact/Contact_node.html"}]}],"policies":[{"name":"Kriterien
        des RatSWD","url":"https://www.ratswd.de/download/publikationen_rat/RatSWD_FDZKriterien.PDF"},{"name":"Weitergehende
        Datennutzung","url":"https://www.rki.de/DE/Content/Gesundheitsmonitoring/Forschungsdatenzentrum/weitergehende_datennutzung/weitergehende_datennutzung_inhalt.html"},{"name":"Public
        Use Files pertaining to Robert Koch Institute (RKI) Health Surveys","url":"https://www.rki.de/EN/Content/Health_Monitoring/Public_Use_Files/public_use_file_node.html"},{"name":"Verfahrensregeln","url":"https://www.rki.de/DE/Content/Gesundheitsmonitoring/Forschungsdatenzentrum/informationen_antrag/verfahrensregeln_11_2014.html?__blob=publicationFileg%2Fverfahrensregeln_11_2014.pdf%3F__blob%3DpublicationFile"}],"databaseLicenses":[{"name":"Copyrights","url":"http://www.rki.de/DE/Service/Impressum/impressum_node.html"}],"dataAccesses":[{"restrictions":[{"text":"other"}],"type":"restricted"},{"restrictions":[{"text":"feeRequired"}],"type":"restricted"}],"dataLicenses":[{"name":"other","url":"http://www.rki.de/DE/Content/Gesundheitsmonitoring/Forschungsdatenzentrum/informationen_antrag/verfahrensregeln_11_2014.pdf?__blob=publicationFile"}],"dataUploads":[{"restrictions":[{"text":"institutional
        membership"}],"type":"restricted"}],"dataUploadLicenses":[],"software":[{"name":"unknown"}],"apis":[],"pidSystems":[{"text":"DOI"}],"aidSystems":[],"certificates":[{"text":"RatSWD"}],"metadataStandards":[],"syndications":[{"type":"RSS","url":"http://www.rki.de/SiteGlobals/Functions/RSSFeed/RSSGenerator_gbe_publikationen.xml"}],"databaseAccess":{"type":"open","restrictions":[]},"identifier":{"re3data":100010436,"doi":"10.17616/R3K31G"}},"sort":["''health
        monitoring'' research data centre at the robert koch institute"],"_explanation":{"value":1.2559574,"description":"product
        of:","details":[{"value":2.5119147,"description":"sum of:","details":[{"value":2.5119147,"description":"weight(dataUploads.type:restricted
        in 15041) [PerFieldSimilarity], result of:","details":[{"value":2.5119147,"description":"score(doc=15041,freq=1.0),
        product of:","details":[{"value":0.53098494,"description":"queryWeight, product
        of:","details":[{"value":4.7306705,"description":"idf(docFreq=552, maxDocs=23064)"},{"value":0.11224306,"description":"queryNorm"}]},{"value":4.7306705,"des[...]
