---
http_interactions:
- request:
    method: get
    uri: http://<ELASTIC_USER>:<ELASTIC_PASSWORD>@<ES_HOST>/frontend/repository/_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWd1OlJhbmRvbU51bWJlcklzNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":38,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":2053,"max_score":null,"hits":[{"_index":"frontend","_type":"repository","_id":"1896","_score":null,"_source":{"repositoryName":"West
        of Scotland Twenty-07 Study","repositoryNameLanguage":"eng","repositoryUrl":"http://2007study.sphsu.mrc.ac.uk/","description":"The
        Twenty-07 Study was set up in 1986 in order to investigate the reasons for
        differences in health by socio-economic circumstances, gender, area of residence,
        age, ethnic group, and family type.\r\n\r\n4510 people are being followed
        for 20 years. The initial wave of data collection took place in 1987/8, when
        respondents were aged 15, 35 and 55. The final wave of data collection took
        place in 2007/08 when respondents were aged 35, 55 and 75.\r\n\r\nIn this
        way the Twenty-07 Study provides us with unique opportunities to investigate
        both the changes in people''s lives over 20 years and how they affect their
        health, and the differences in people''s experiences at the same ages 20 years
        apart, and how these have different effects on their health.","descriptionLanguage":"eng","size":null,"sizeUpdated":null,"startDate":"1987","endDate":null,"missionStatementUrl":"http://2007study.sphsu.mrc.ac.uk/about-twenty-07.html","versioning":null,"citationGuidelineUrl":null,"enhancedPublication":"yes","qualityManagement":"yes","remarks":"West
        of Scotland Twenty-07 Study is covered by Thomson Reuters Data Citation Index.","created":"2016-03-03T14:46:37+01:00","updated":"2016-03-22T10:34:08+01:00","repositoryLanguages":[{"text":"eng"}],"types":[{"text":"disciplinary"}],"additionalNames":[],"repositoryIdentifiers":[],"repositoryContacts":[{"text":"http://2007study.sphsu.mrc.ac.uk/contact-us.html"},{"text":"http://2007study.sphsu.mrc.ac.uk/Last-data-collection.html"},{"text":"sphsu-twenty07@glasgow.ac.uk"}],"subjects":[{"text":"111
        Social Sciences","scheme":"DFG"},{"text":"20502 Public Health, Health Services
        Research, Social Medicine","scheme":"DFG"},{"text":"12 Social and Behavioural
        Sciences","scheme":"DFG"},{"text":"1 Humanities and Social Sciences","scheme":"DFG"},{"text":"205
        Medicine","scheme":"DFG"},{"text":"22 Medicine","scheme":"DFG"},{"text":"2
        Life Sciences","scheme":"DFG"}],"contentTypes":[{"text":"Standard office documents","scheme":"parse"},{"text":"Audiovisual
        data","scheme":"parse"},{"text":"other","scheme":"parse"}],"providerTypes":[{"text":"dataProvider"}],"keywords":[{"text":"cohort
        study"},{"text":"gender"},{"text":"area of residence"},{"text":"family type"},{"text":"ethnic
        group"},{"text":"health inequalities"},{"text":"Scotland"},{"text":"HIV"},{"text":"behaviours"},{"text":"biological
        samples"},{"text":"heart diseases"},{"text":"cancer"},{"text":"physical health"},{"text":"beliefs"},{"text":"life
        circumstances"}],"institutions":[{"name":"UK Medical Research Council","nameLanguage":"eng","country":"GBR","type":"non-profit","url":"http://www.mrc.ac.uk/","responsibilityStartDate":null,"responsibilityEndDate":null,"additionalNames":[{"text":"MRC","language":"eng"}],"responsibilityTypes":[{"text":"funding"}],"identifiers":[],"contacts":[{"text":"http://www.mrc.ac.uk/research/facilities/cohort-directory/west-of-scotland-twenty-07-study-twenty-07/"},{"text":"http://www.mrc.ac.uk/about/contact/"}]},{"name":"MRC
        Social and Public Health Sciences Unit","nameLanguage":"eng","country":"GBR","type":"non-profit","url":"http://www.sphsu.mrc.ac.uk/","responsibilityStartDate":null,"responsibilityEndDate":null,"additionalNames":[{"text":"SPHSU","language":"eng"}],"responsibilityTypes":[{"text":"technical"},{"text":"general"}],"identifiers":[],"contacts":[{"text":"survadmin@sphsu.mrc.ac.uk"},{"text":"http://www.sphsu.mrc.ac.uk/contact-sphsu.html"}]}],"policies":[{"name":"Data
        Sharing","url":"http://2007study.sphsu.mrc.ac.uk/Information-on-data-sharing.html"}],"databaseLicenses":[],"dataAccesses":[{"type":"restricted","restrictions":[{"text":"other"},{"text":"registration"}]},{"type":"closed","restrictions":[]}],"dataLicenses":[{"name":"other","url":"http://2007study.sphsu.mrc.ac.uk/Twenty07_DataSharingPolicy"},{"name":"other","url":"http://2007study.sphsu.mrc.ac.uk/Data-Sharing-Form.html"},{"name":"other","url":"http://2007study.sphsu.mrc.ac.uk/Twenty07_data_app_guidance"}],"dataUploads":[{"type":"closed","restrictions":[]}],"dataUploadLicenses":[],"software":[{"name":"unknown"}],"apis":[],"pidSystems":[{"text":"none"}],"aidSystems":[],"certificates":[],"metadataStandards":[],"syndications":[],"databaseAccess":{"type":"restricted","restrictions":[{"text":"other"}]},"identifier":{"re3data":100011853,"doi":"10.17616/R3K92X"}},"sort":["07"]},{"_index":"frontend","_type":"repository","_id":"2041","_score":null,"_source":{"repositoryName":"RADARSAT-1","repositoryNameLanguage":"eng","repositoryUrl":"http://www.asc-csa.gc.ca/eng/satellites/radarsat1/default.asp","description":"Launched
        in November 1995, RADARSAT-1 provided Canada and the world with an operational
        radar satellite system capable of timely delivery of large amounts of data.
        Equipped with a powerful synthetic aperture radar (SAR) instrument, [...]
